.card {
    margin-top: 15px;
    border-color: #670060;
}

.card-header,
.card-footer {
    color: white;
    background-color: #670060;
}

.btn-primary {
    font-weight: 500;
    background-color: #c39d2b;
    border-color: #c39d2b;
    box-shadow: 2px 2px 5px 0px #524212;
}

.form-control:focus {
    border-color: #67006045;
    box-shadow: 0 0 0 0.25rem #67006036;
}

label {
    color: #670060
}

.card-body{
    font-weight: 500;
}