<div class="card">
    <div class="card-header">
        New Event
    </div>
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>

            <div class="row">
                <div class="col">

                    <div class="mb-3">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description"
                            placeholder="Enter description" [(ngModel)]="form.description" required
                            #description="ngModel" tabindex="-1">

                        <div *ngIf="description.invalid && (description.dirty || description.touched)"
                            class="alert alert-danger p-2 mt-2">
                            <div *ngIf="description.errors?.['required']">
                                Description is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" name="location"
                            placeholder="Enter location" [(ngModel)]="form.location" required #location="ngModel"
                            tabindex="-1">

                        <div *ngIf="location.invalid && (location.dirty || location.touched)"
                            class="alert alert-danger p-2 mt-2">
                            <div *ngIf="location.errors?.['required']">
                                Location is required.
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="mb-3 col-5">
                            <label for="category">Category</label>
                            <select class="form-select" id="category" name="category" required #category
                                (change)="handleCategory($event.target)">
                                <option selected value="default" disabled>Please select</option>
                                <option value="early bird">Early Bird</option>
                                <option value="last minute">Last Minute</option>
                                <option value="normal">Normal</option>
                                <option value="VIP">VIP</option>
                            </select>
                        </div>

                        <div class="mb-3 col-3">
                            <label for="tickets">Price</label>
                            <input type="number" class="form-control" id="price" name="price" min="1" (change)="handleTicketProps(category)"
                                [(ngModel)]="form.price" required #price="ngModel" tabindex="-1" [disabled]="category.value == 'default'">
                        </div>

                        <div class="mb-3 col-4">
                            <label for="tickets">Number of tickets</label>
                            <input type="number" class="form-control" id="tickets" name="tickets" min="1" (change)="handleTicketProps(category)"
                                [(ngModel)]="form.tickets" required #tickets="ngModel" tabindex="-1" [disabled]="category.value == 'default'">
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="eventStart">Event start</label>
                        <input id="eventStart" class="form-control" type="date" name="eventStart" required
                            #eventStart="ngModel" [(ngModel)]="form.eventStart" />
                    </div>
                </div>

                <div class="col">



                    <div class="mb-3">
                        <label for="description">About</label>
                        <textarea type="textarea" class="form-control" id="about" name="about" [(ngModel)]="form.about" style="resize: none;"
                            required #about="ngModel" tabindex="-1" rows="4"></textarea>

                        <div *ngIf="about.invalid && (about.dirty || about.touched)"
                            class="alert alert-danger p-2 mt-2">
                            <div *ngIf="about.errors?.['required']">
                                About is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload event image</label>
                        <input class="form-control" type="file" id="formFile" accept="image/*" (change)="onUploadPhoto($event)">
                    </div>

                    <div class="mb-3">
                        <label for="eventEnd">Event end</label>
                        <input type="date" class="form-control" id="eventEnd" name="eventEnd"
                            [(ngModel)]="form.eventEnd" required #eventEnd="ngModel" tabindex="-1" />
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="eventEnd">Preview</label>
                <br>
                <img id="avatar" width="300" height="150">
            </div>


            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit" [disabled]="f.form.invalid">{{id? "Update" :
                    "Create"}}</button>
            </div>
            <br>
            <div class="alert alert-success" role="alert" *ngIf="response.state === 'Success'">
                {{response.body}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="response.state === 'Fail'">
                {{response.body}}
            </div>

        </form>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col text-start">2022</div>
            <div class="col text-end">jegyertekesito.hu</div>
        </div>
    </div>
</div>