<main class="container">
  <h1>Események</h1>

  <div class="form-check form-switch d-flex justify-content-end m-1">
    <input class="form-check-input m-1" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="listView">
    <label class="form-check-label" for="flexSwitchCheckDefault"> List view </label>
  </div>



  <div class="text-center">


    <div class="p-2" *ngIf="addEventShow">
      <button type="button" class="btn btn-secondary btn-lg m-5" routerLink="/new-event">Add new Event</button>
    </div>

    <div class="spinner-border text-secondary" role="status" *ngIf="events.length === 0">
      <span class="sr-only">Loading...</span>
      <br>
    </div>


    <div *ngIf="!listView">
      <ngb-datepicker class="m-5"></ngb-datepicker>
    </div>



    <div *ngIf="listView">
      <div class="row" *ngFor="let event of events; index as i">




        <div *ngIf="i % 2 == 0" class="col-6 event" style="border-right: 2px solid rgb(255, 185, 255)">
          <a (click)="showEvent(event)">
            <div class="row">
              <div class="col-sm-8">
                <img src="{{event.imgSource}}" class="card-img-top rounded">
              </div>
              <div class="col-sm-4">
                <h2><span
                    class="badge bg-secondary">{{event.eventStart.slice(5,7)}}.<br>{{event.eventStart.slice(8,11)}}.</span>
                </h2>
                <div *ngIf="addEventShow">
                  <a class="btn btn-primary m-1" (click)="onSelect(event)" routerLink="/event/edit/{{i}}">
                    <fa-icon [icon]="faPen"></fa-icon>
                  </a>
                  <br>
                  <a class="btn btn-danger">
                    <fa-icon [icon]="faTrash" (click)="onDelete(event)"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="text-right">
                  <h3>{{event.description}}</h3>
                  {{event.about}}
                  <br>
                  <fa-icon [icon]="faCalendar"></fa-icon> {{event.eventStart}}
                  <br>
                  <fa-icon [icon]="faLocation"></fa-icon> {{event.location}}
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
          </a>
        </div>
        <div *ngIf="i % 2 == 0" class="col-6" style="border-left: 2px solid rgb(255, 185, 255)"></div>




        <div *ngIf="i % 2 != 0" class="col-6" style="border-right: 2px solid rgb(255, 185, 255)"></div>
        <div *ngIf="i % 2 != 0" class="event col-6" style="border-left: 2px solid rgb(255, 185, 255)">
          <a (click)="showEvent(event)">
            <div class="row">
              <div class="col-sm-4">
                <h2><span
                    class="badge bg-secondary">{{event.eventStart.slice(5,7)}}.<br>{{event.eventStart.slice(8,11)}}.</span>
                </h2>
                <div *ngIf="addEventShow">
                  <a class="btn btn-primary m-1" (click)="onSelect(event)" routerLink="/event/edit/{{i}}">
                    <fa-icon [icon]="faPen"></fa-icon>
                  </a>
                  <br>
                  <a class="btn btn-danger">
                    <fa-icon [icon]="faTrash" (click)="onDelete(event)"></fa-icon>
                  </a>
                </div>
              </div>
              <div class="col-sm-8">
                <img src="{{event.imgSource}}" class="card-img-top rounded">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
              </div>
              <div class="col-sm-8">
                <h3>{{event.description}}</h3>
                {{event.about}}
                <br>
                <fa-icon [icon]="faCalendar"></fa-icon> {{event.eventStart}}
                <br>
                <fa-icon [icon]="faLocation"></fa-icon> {{event.location}}
              </div>
            </div>
          </a>
        </div>


      </div>
    </div>

  </div>
</main>
<div class="p-5"></div>
<div class="card-footer card">
  <div class="row">
    <div class="col text-start">2022</div>
    <div class="col text-end">jegyertekesito.hu</div>
  </div>
</div>
<router-outlet></router-outlet>