html :root {
    --text-color: white;
    --bg-color: #670060;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
}

.custom-day.range {
    background-color: #97008d;
    box-shadow: 2px 2px 5px 0px #290026;
    color: white;
}

.custom-day:hover {
    background-color: #c39d2b;
    box-shadow: 2px 2px 5px 0px #524212;
    color: white;
}

.form-check-label,
h1 {
    color: #670060;
}

h3 {
    color: #c39d2b;
}


.form-check-input:checked {
    background-color: #670060;
    border-color: #670060;
}

.form-check-input:focus {
    border-color: #670060;
    box-shadow: 0 0 0 0.25rem #67006036;
}

.badge {
    background-color: #97008d !important;
    box-shadow: 2px 2px 5px 0px #524212;
}


.btn-secondary {
    background-color: #c39d2b;
    border-color: #c39d2b;
    box-shadow: 2px 2px 5px 0px #524212;
}

.btn-link {
    color: #c39d2b !important;
}

.card-footer {
    border-radius: 5px;

    color: #97008d;
}

.calendar-footer {
    width: -webkit-fill-available;
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.year {
    font-weight: 800;
    font-size: x-large;
    color: #97008d;
    font-style: italic;
}

.arrow {
    cursor: pointer;
}

.desc {
    text-align: justify;
}