<div class="card">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>


            <div class="mb-3">
                <label for="username">
                    Username
                </label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username"
                    [(ngModel)]="form.username" required #username="ngModel" >

                <div *ngIf="username.invalid && (username.dirty || username.touched)"
                    class="alert alert-danger p-2 mt-2">
                    <div *ngIf="username.errors?.['required']">
                        Username is required.
                    </div>
                </div>
            </div>


            <div class="mb-3">
                <label for="password">
                    Password
                </label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                    [(ngModel)]="form.password" required #password="ngModel" >

                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                    class="alert alert-danger p-2 mt-2">
                    <div *ngIf="password.errors?.['required']">
                        Password is required.
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="error.isError">
                Fail: {{error.message}}
            </div>


            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit" [disabled]="f.form.invalid">Login</button>
            </div>

            <hr>

        </form>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary btn-block" (click)="showSignUp()">Sign Up</button>
        </div>


    </div>
    <div class="card-footer text-muted">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-secondary btn-block" (click)="close.emit()">Close</button>
        </div>
    </div>
</div>