<div class="card">
    <div class="card-header">
        Ticket purchase
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col">

                <div class="mb-3">
                    <label class="title" for="uname">
                        <fa-icon [icon]="faUser"></fa-icon> Name
                    </label>
                    <div>{{loggedUser.name}}</div>
                </div>

                <div class="mb-3">
                    <label class="title" for="email">
                        <fa-icon [icon]="faEmail"></fa-icon> Email
                    </label>
                    <div>{{loggedUser.email}}</div>
                </div>

                <div class="mb-3">
                    <label class="title" for="name">
                        <fa-icon [icon]="faBars"></fa-icon> Description
                    </label>
                    <div>{{event.description}}</div>
                </div>

                <div class="mb-3">
                    <label class="title" for="category">
                        <fa-icon [icon]="faSquareCaretDown"></fa-icon> Category
                    </label>
                    <div>{{category}}</div>
                </div>


            </div>

            <div class="col">
                <div class="mb-3">
                    <label class="title" for="location">
                        <fa-icon [icon]="faLocationDot"></fa-icon> Location
                    </label>
                    <div>{{event.location}}</div>
                </div>
                <div class="mb-3">
                    <label class="title" for="startDate">
                        <fa-icon [icon]="faCalendarDay"></fa-icon> Date
                    </label>
                    <div>{{event.eventStart === event.eventEnd ? event.eventStart : event.eventStart + " to " +
                        event.eventEnd}}</div>
                </div>

                <div class="mb-3">
                    <label class="title" for="tickets">
                        <fa-icon [icon]="faTicket"></fa-icon> Number of tickets
                    </label>
                    <div class="row">
                        <div class="col-1">
                            <span class="minusBtn" (click)="minus()">−</span>
                        </div>
                        <div class="col-2">
                            <input type="number" class="form-control" id="ticketNum" name="ticketNum" min="1"
                                tabindex="-1" (change)="calculate()" [(ngModel)]="ticketNum">
                        </div>
                        <div class="col-1">
                            <span class="plusBtn" (click)="plus()">+</span>
                        </div>
                    </div>

                    <div class="mt-2">
                        <label class="title" for="summary">
                            <fa-icon [icon]="faMoneyBill1"></fa-icon> Summary
                        </label>
                        <div class="price">{{summary}} Ft</div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="alert alert-success mt-3" role="alert" *ngIf="alert.state === 'Success'">
            {{alert.body}}
        </div>
        <div class="alert alert-danger mt-3" role="alert" *ngIf="alert.state === 'Fail'">
            {{alert.body}}
        </div>
        <div class="row">
            <div class="d-grid col-2">
                <button class="btn btn-primary" (click)="purchase()" [disabled]="!isPurchase">Purchase</button>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-secondary" routerLink="/home">Cancel</button>
            </div>
        </div>
    </div>
</div>