<div class="card">
    <div class="card-header">
        Ticket purchase
    </div>
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>

            <div class="row">
                <div class="col">

                    <div class="mb-3">
                        <label for="name">Description</label>
                        <div>{{event.description}}</div>
                    </div>

                    <div class="mb-3">
                        <label for="category">Category</label>
                        <div>{{category}}</div>
                    </div>

                    <div class="mb-3">
                        <label for="location">Location</label>
                        <div>{{event.location}}</div>
                    </div>


                    <div class="mb-3">
                        <label for="startDate">Date</label>
                        <div>{{event.eventStart === event.eventEnd ? event.eventStart : event.eventStart + " to " + event.eventEnd}}</div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="tickets">
                                    Number of tickets
                                </label>
                                <input type="number" class="form-control" id="ticketNum" name="ticketNum"
                                 min="1" tabindex="-1" (change)="calculate()" [(ngModel)]="ticketNum">

                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="summary">Summary</label>
                                <div>{{summary}} Ft</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="d-grid col-2">
                    <button class="btn btn-primary" type="submit" >Purchase</button>
                </div>

            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-secondary" routerLink="/home">Cancel</button>
            </div>
        </div>
    </div>
</div>