<div class="card">
  <div class="card-header">
    Sign Up
  </div>
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate class="col-6">

      <div class="mb-3">
        <label for="name"><fa-icon [icon]="faUser"></fa-icon> 
          Name
        </label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" [(ngModel)]="form.name"
          required #name="ngModel">

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger p-2 mt-2">
          <div *ngIf="name.errors?.['required']">
            Name is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="name"><fa-icon [icon]="faUser"></fa-icon> 
          Username
        </label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username"
          [(ngModel)]="form.username" required #username="ngModel">

        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger p-2 mt-2">
          <div *ngIf="username.errors?.['required']">
            Username is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email"><fa-icon [icon]="faEmail"></fa-icon> 
          Email
        </label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Enter email"
          [(ngModel)]="form.email" required email #email="ngModel">

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger p-2 mt-2">
          <div *ngIf="email.errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="email.errors?.['email']">
            Email must be valid.
          </div>
        </div>
      </div>


      <div class="mb-3">
        <label for="password"><fa-icon [icon]="faKey"></fa-icon> 
          Password
        </label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
          [(ngModel)]="form.password" required #password="ngModel">

        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger p-2 mt-2">
          <div *ngIf="password.errors?.['required']">
            Password is required.
          </div>
        </div>
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="terms" name="terms" required [(ngModel)]="form.terms"
          #terms>
        <label class="form-check-label" for="terms">I agree to the <a href="https://github.com/G-Greg/Jegyertekesito/blob/main/README.md" target="_blank">Terms of Service</a></label>
      </div>

      <div class="alert alert-success" role="alert" *ngIf="!status.isError && status.message === 'success' ">
        Success registration!
        <br>
        You will be redirected to the home page within 10 seconds
      </div>

      <div class="alert alert-warning" role="alert" *ngIf="status.isError && status.message === '' ">
        Error: Please check that you have filled out the form correctly
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="status.isError && status.message !== '' ">
        Fail: {{status.message}}
      </div>

      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit" [disabled]="f.form.invalid || !terms.checked">Sign Up</button>
      </div>

    </form>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col text-start">2022</div>
      <div class="col text-end">jegyertekesito.hu</div>
    </div>
  </div>

</div>