.card {
    box-shadow: 2px 3px 4px #888888;
}

.card-header,
.card-footer {
    color: white;
    background-color: #8a2f7e;
}

.btn-secondary {
    color: #ffffff;
    background-color: #9a9a9a;
    border-color: #efefef;
    box-shadow: 2px 2px 5px 0px white;
}

.popup {
    position: absolute;
    z-index: 1;
    top: -30%;
    left: 25%;
}

.desc {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.name {
    text-align: center;
    font-style: italic;
    color: white;
    font-weight: 800;
    font-size: x-large;
    text-shadow: 2px 2px 7px #040404;
}

.price {
    color: black;
    font-weight: 700;
    font-size: large;
    text-align: center;
}

.mybtn{
    border: none;
    font-style: italic;
    font-weight: 500;
    color: white;
    background-color: #c39d2b;
    border-color: #c39d2b;
    box-shadow: 2px 2px 5px 0px #524212;
    padding: 0px;
    border-radius: 0.375rem;
    padding-block: 6px;
    display: inline-block;
}