<div class="card">
    <div class="card-header">
        Tickets
    </div>
    <div class="card-body">

        <div class="row">

            <div *ngFor="let ticket of tickets; index as i" class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" [src]="event.imgSource">
                    <div class="card-body">
                        {{event.description}}
                        <br>
                        {{ticket.name}}
                        <br>
                        {{ticket.price}} Ft
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <button class="btn btn-primary btn-block" (click)="toSummaryPage(ticket.name)">Buy</button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <br>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="card-footer">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-secondary btn-block" (click)="close.emit()">Close</button>
        </div>
    </div>
</div>